{% load static %}
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<title>
    Django Girls Blog
</title>

<body>

    <body>
        <div class="header_container">
            <h3>
                <a href="{% url 'post_list' %}">
                    Django Girls Blog
                </a>
            </h3>
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            {% endif %}
        </div>
        <div class="posts_container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </body>
</body>

</html>